<section id="favorites">
  <h1 class="favorites-header">Favorites</h1>

  <section class="marvel-favorites">
    <h3>Marvel</h3>

    <% for (var i = 0; i < user.marvelFavorites.length; i++) {%>
      <% var itemId = user.marvelFavorites[i]; %>
      <% if (apiResultsmarvel.items[itemId].thumbnail != undefined) { %>
        <div class="card-container-mini h">
          <div class="front">
            <% if (userName == user.username) {%>
              <form class="remove-button" action="/users/<%= userId %>/marvel/<%= itemId %>" method="post">
                <button class="button-remove" type="submit" name="button">X</button>
              </form>
            <% } %>
            <a href="/marvel/characters/<%= apiResultsmarvel.items[itemId].title%>">
              <img class='index-image' src="<%= apiResultsmarvel.items[itemId].thumbnail %>" alt="" />
            </a>
            </div>
        </div>
      <% } %>
    <% } %>
  </section>
  <section class="dc-favorites">
    <h3>DC</h3>
    <% for (var i = 0; i < user.dcFavorites.length; i++) {%>
      <% var dcitemId = user.dcFavorites[i]; %>
      <% if (apiResultsdc.items[dcitemId].thumbnail != undefined) { %>
        <div class="card-container-mini h">
          <div class="front">
            <% if (userName == user.username) {%>
            <form class="remove-button" action="/users/<%= userId %>/dc/<%= dcitemId %>" method="post">
              <button class="button-remove" type="submit" name="button">X</button>
            </form>
            <% } %>
            <a href="/dc/characters/<%= apiResultsdc.items[dcitemId].title%>">
              <img class='index-image' src="<%= apiResultsdc.items[dcitemId].thumbnail %>" alt="" />
            </a>
            </div>
        </div>
      <% } %>
    <% } %>
  </section>
</section>
<section id="profile-container">
  <% if (comicSide == 'marvel') { %>
    <div class="gif-logo">
      <img src="/gifs/Marvel-Logo.gif" alt="Marvel Logo" />
    </div>
  <% } else { %>
    <div class="gif-logo">
      <img src="/gifs/DC-Logo.gif" alt="DC Comics Logo" />
    </div>
  <% } %>


</section>
<section class="profile-info">
  <h3>Profile Info</h3>
  <% if (userName == user.username) {%>
    <button id="edit-profile-button" class="edit-button">Edit</button>
  <%}%>
  <form class="edit-profile" action="/profile/<%= user.username %>" method="post">
    <label for="username">Username</label><br/>
    <input class="no-border" type="text" name="username" value="<%= user.username %>" disabled><br/>
    <label for="email">Email</label><br/>
    <input class="no-border" type="text" name="email" value="<%= user.local.email %>" disabled><br/>
    <label for="comicSide">Side</label><br/>
    <select name="comicSide" disabled>
      <% if (comicSide == 'marvel') { %>
        <option value="dc" >DC</option>
        <option value="marvel" selected>Marvel</option>
      <% } else { %>
        <option value="dc" selected>DC</option>
        <option value="marvel">Marvel</option>
      <% } %>
    </select>
    <button id="edit-button-submit" class="edit-button-submit" style="display: none;" type="submit" name="button" disabled="disabled">Submit</button>
  </form>
</section>