<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js" charset="utf-8"></script>
<script src="/js/profile.js" charset="utf-8"></script>
<section class="profile-info-container">
  <h2 class="profile-header">Profile</h2>
  <% if (comicSide == 'marvel') { %>
    <div class="gif-logo-marvel">
    </div>
  <% } else { %>
    <div class="gif-logo-dc">
    </div>
  <% } %>
  <% if (userName == user.username) {%>
    <button id="edit-profile-button" class="edit-button">Edit</button>
  <%}%>
  <form class="edit-profile" action="/profile/<%= user.username %>" method="post">
    <label for="username">Username</label><br/>
    <input class="no-border" type="text" name="username" value="<%= user.username %>" disabled><br/>
    <label for="email">Email</label><br/>
    <input class="no-border" type="text" name="email" value="<%= user.local.email %>" disabled><br/>
    <label for="comicSide">Side</label><br/>
    <% if (userName == user.username) {%>
    <select name="comicSide" disabled>
      <% if (comicSide == 'marvel') { %>
        <option value="dc" >DC</option>
        <option value="marvel" selected>Marvel</option>
      <% } else { %>
        <option value="dc" selected>DC</option>
        <option value="marvel">Marvel</option>
      <% } %>
      <%} else {%>
      <input class="no-border" type="text" name="comicSide" value="<%= user.comicSide %>" disabled><br/>
      <%}%>

    </select>
    <button id="edit-button-submit" class="edit-button-submit" style="display: none;" type="submit" name="button" disabled="disabled">Submit</button>
  </form>
  <div class="chart">
    <h3>Fave Breakdown</h3>
    <canvas id="marvel-male-female"></canvas>
    <div id="marvel-gender-legend" class="chart-legend"></div>
  </div>
</section>
<section class="faves">
  <h2 class="profile-header">Marvel</h2>
  <% for (var i = 0; i < user.marvelFavorites.length; i++) {%>
    <% var itemId = user.marvelFavorites[i]; %>
    <% if (apiResultsmarvel.items[itemId].thumbnail != undefined) { %>
      <div class="card-container-mini h">
        <div class="front">
          <% if (userName == user.username) {%>
            <form class="remove-button" action="/users/<%= userId %>/marvel/<%= itemId %>" method="post">
              <button class="button-remove" type="submit" name="button">X</button>
            </form>
          <% } %>
          <a href="/marvel/characters/<%= itemId%>">
            <img class='index-image' src="<%= apiResultsmarvel.items[itemId].thumbnail %>" alt="" />
          </a>
          </div>
      </div>
    <% } %>
  <% } %>
</section>
<section class="faves">
  <h2 class="profile-header">DC</h2>
  <% for (var i = 0; i < user.dcFavorites.length; i++) {%>
    <% var dcitemId = user.dcFavorites[i]; %>
    <% if (apiResultsdc.items[dcitemId].thumbnail != undefined) { %>
      <div class="card-container-mini h">
        <div class="front">
          <% if (userName == user.username) {%>
          <form class="remove-button" action="/users/<%= userId %>/dc/<%= dcitemId %>" method="post">
            <button class="button-remove" type="submit" name="button">X</button>
          </form>
          <% } %>
          <a href="/dc/characters/<%= dcitemId %>">
            <img class='index-image' src="<%= apiResultsdc.items[dcitemId].thumbnail %>" alt="" />
          </a>
          </div>
      </div>
    <% } %>
  <% } %>
</section>