<% for (var i=0; i < data.length; i++) {
  var itemId = data[i].page_id; %>
  <div class="card-container h">
      <div class="front">
        <% if (apiResults.items[itemId].thumbnail != undefined) { %>
        <img class='index-image' src="<%= apiResults.items[itemId].thumbnail %>" alt="" />
        <% } %>
      </div>
      <div class="back">
        <div class='character-container-card'>
          <h3><%= data[i].name %></h3>
          <p><%= apiResults.items[itemId].abstract %><a href="http://<%= comic %>.wikia.com<%= data[i].urlslug %>">(Read More)</a></p>
        </div>
      </div>
  </div>
<% } %>