<form action='/products/<%=id%>?_method=PUT' method='POST'>
  <input type='text' name='type' placeholder='Product Name' value='<%= type %>'>
  <input type='number' name='price' placeholder='Product Price' value='<%= price %>'>
  <input type='number' name='stock' placeholder='Amount In Stock' value='<%= stock %>'>
  <input type='text' name='description' placeholder='Product Description' value='<%= description %>'>
  <button>Save!</button>
</form>
<form action='/products/<%=id%>?_method=DELETE' method='POST'>
  <button>Delete Product</button>
</form>
