<h1><%=type%></h1>
<h3>$<%=price%></h3>
<p class='underline bold'>Description</p>
<p><%=description%></p>
<%if (stock > 0) { %>
  <p>
    <%= stock %>
    <form action='/products/<%=id%>/addToCart' method='POST'>
      <button>Add To Cart</button>
      <form action='/products/<%=id%>/buy?_method=PUT' method='POST'>
        <button>Buy</button>
      </form>
    </form>
  </p>
<% } else { %>
  <p>
    Out Of Stock
  </p>
<% } %>
<button><a href='/products/<%=id%>/edit'>Edit This Product</a></button>


<button><a href='/products'>Back To Products</a></button>




